* {
  margin: 0;
  padding: 0;
  /* overflow-y: scroll; */
}

#kemi-bday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/birthday_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
  background-blend-mode: multiply;
  height: 100vh;
}

.greeting {
  animation: greeting-load 1s ease-in;
}

@keyframes greeting-load {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

.greeting h1 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.greeting h2 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.greeting h3 {
  font-family: "Marck Script", cursive;
  font-size: 20px;
  font-weight: 700;
  color: wheat;
  text-align: center;
}

.picture {
  height: 280px;
  width: 280px;
  /* background-color: white; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: picture-load 2s ease-in;
}

@keyframes picture-load {
  0% {
    transform: translateX(-200%);
    transform: scale(0);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: translateX(0);
    transform: scale(1);
  }
}

.picture img {
  height: 250px;
  width: 250px;
  background-color: white;
  z-index: 3;
  object-fit: cover;
  border-radius: 50%;
}

.wishes {
  animation: wishes-load 1s ease-in;
}

@keyframes wishes-load {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

.wishes p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  color: #fca311;
  font-size: 22px;
  font-weight: bolder;
  max-width: 600px;
  padding: 10px;
  text-shadow: 2px 5px 2px rgb(13, 12, 51);
}
