* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/birthday_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
  background-blend-mode: multiply;
}

#kemi-bday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.greeting h1 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.greeting h2 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.greeting h3 {
  font-family: "Marck Script", cursive;
  font-size: 30px;
  font-weight: 700;
  color: wheat;
  text-align: center;
}

.picture {
  height: 300px;
  width: 300px;
  /* background-color: white; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture img {
  height: 280px;
  width: 280px;
  background-color: white;
  z-index: 3;
  object-fit: cover;
  border-radius: 50%;
}

.wishes p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-top: 17px;
  font-family: "Marck Script", cursive;
  color: rgb(12, 24, 66);
  font-size: 22px;
  max-width: 600px;
  padding: 20px;
}

.send {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#send {
  margin-top: 20px;
  font-family: "Mukta", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: lightskyblue;
  border: none;
  outline: none;
}

button {
  width: 150px;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  background-color: rgb(8, 8, 32);
  color: white;
}

button:hover {
  background-color: white;
  color: rgb(8, 8, 32);
}

.wisher {
  margin-top: 10px;
}

label {
  color: rgb(219, 164, 61);
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

input {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 2px;
  font-size: 16px;
}
